@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #262626;
    color: #E5C09D;
}
body {
    background-color: #262626;
    width: 1420px;
    margin: 30px auto;
    font-size: 13px;
}
a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    /* list-style-type: none; */
}

/* 헤더부분(올더무비,프로필)------------------------------------------ */
header {
    width: 1440px;
    padding: 25px;
    margin: 30px auto;
    /* border-radius: 10px; */
}

.topbutton {
    /* display:scroll; */
    z-index: 1;
    position: fixed;
    bottom: 50px;
    right: 200px;
    color: white;
    border: 1px solid;
}

header nav.topmenu {
    width: 100%;
}

header nav.topmenu a {
    font-size: 20px;
    color: #E5C09D
}

.trigger {
    font-size: 20px;
    width: 40px;
    height: 40px;
    padding-left: 2px;
    padding-top: 1px;
    border-radius: 50%;
    float: right;
    border: 1px black solid;
    cursor: pointer;
}

header>nav.topmenu>a {
    float: left;
    font-size: 30px;
    font-weight: bold;
}

/* header nav.topmenu a:nth-of-type(2) {
    width: 40px;
    height: 40px;
    padding-left: 11px;
    padding-top: 4px;
    border-radius: 50%;
    float: right;
    border: 1px black solid;
} */

header nav.topmenu::after {
    content: '';
    display: block;
    clear: both;
}

/* 검색바,요즘뜨는컨텐츠,ott랭킹,박스오피스 순위------------------- */

section {
    width: 1200px;
    /* padding: 25px; */
    margin: 10px auto;
    /* border-radius: 10px; */

}

section input {
    width: 97%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

}

section .search a {
    color: #E5C09D
}

section nav.menu {
    margin-right: 10px;
}

section nav.menu a:nth-of-type(1) {
    float: left;
    font-weight: bold;
    margin-top: 30px;
}

section nav.menu a:nth-of-type(2) {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
}

section nav.menu a {
    font-size: 20px;
    color: #E5C09D
}

section nav.menu::after {
    content: '';
    display: block;
    clear: both;
}

/* 영화 사진,에디터의 추천------------------------------------ */

.col1 {
    float: left;
    padding: 10px 0px 10px 0;
    /* width: 20%; */
    position: relative;
    margin-right: 80px;
}

.col2 {
    float: left;
    padding: 10px 0px 10px 0;
    margin-right: 0px;
    /* width: 20%; */
    position: relative;
    margin-right: 80px;
}

.col3 {
    float: left;
    padding: 10px 0px 10px 0;
    /* width: 20%; */
    position: relative;
    margin-right: 80px;
}

.col4 {
    float: left;
    padding: 10px 0px 10px 0;
    /* width: 20%; */
    position: relative;
}


.third {
    margin-bottom: 20px;

}

ul.contact li {
    width: 99%;
    font-size: 20px;
    background-color: rgb(54, 38, 23);
    /* background-color: rgb(47, 120, 143); */
    padding: 15px;
    /* background-image: url('https://picsum.photos/id/600/1200/400'); */
}

ul.contact li span {
    background-color: transparent;
}

ul.contact a {
    color: #E5C09D;
}

.contact li {
    margin: 20px 10px 10px 0;

}

/* 신작소개------------------------------------------- */
.vd1 {
    width: 45%;
    margin: 10px;
}

.vd2 {
    width: 45%;
    float: right;
    margin: 25px 10px 10px 10px;
    color: #E5C09D;
    font-weight: bold;
}

.vd2 h1 {
    text-align: center;
}

.xxx {
    opacity: 0.6;
    color: #E5C09D;
    line-height: 26px
}

/* 이미지위에 글씨------------------------------------------ */
.text-lefttop {
    background-color: transparent;
    position: absolute;
    bottom: -10px;
    left: 0px;
    font-size: 15px;
    color: #E5C09D;
}

.text-rightbottom {
    background-color: transparent;
    position: absolute;
    bottom: -10px;
    right: 5px;
    font-size: 15px;
    color: #E5C09D;
}

.text-rightbottom i {
    background-color: transparent;
}

.arrow i {
    background-color: transparent;
    position: absolute;
    bottom: 115px;
    right: 280px;
    font-size: 100px;
    color: #E5C09D;
}

.arrow2 i {
    background-color: transparent;
    position: absolute;
    bottom: 115px;
    left: 285px;
    font-size: 90px;
    color: #E5C09D;
}



/* -------팝업창--------------------------------------------------- */
.title {
    background-color: white;
    color: black;
    padding-left: 20px;
    font-size: 60px;
    font-weight: 900;
    margin-top: 15px;
}

.title2 {
    background-color: white;
    color: black;
    padding-left: 190px;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 30px;
}

div.form {
    padding-left: 20px;
    background-color: white;
}

input,
textarea {
    width: 440px;
    height: 30px;
    background-color: #efefef;
    border-radius: 6px;
    border: 1px solid #dedede;
    padding: 10px;
    margin: 9px 0;
    font-size: 0.9em;
    color: #3a3a3a;
}

input:focus,
textarea:focus {
    border: 1px solid #97d6eb;
}

#submit {
    width: 440px;
    height: 30px;
    padding-bottom: 30px;
    text-align: center;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: purple;
    color: white;
}

#submit:hover {
    background-color: purple;
    opacity: 0.8;
}

.modal {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: hidden;
    transform: scale(1.1);
    /* transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;  */
}

.modal-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding-top: 60px;
    padding-left: 30px;
    width: 550px;
    height: 600px;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    background-color: white;
    cursor: pointer;
}

.fa-x {
    position: absolute;
    top: 20px;
    right: 15px;
    color: black;
    background-color: white;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.ttt {
    float: left;
    background-color: white;
    color: rgb(187, 99, 187);
    text-decoration: underline;
    margin: 20px 25px;
    padding-left: 9px;
}

#login-show{
    cursor: pointer;
}

.sns_box {
    background-color: white;
    margin-left: 22px;
}

.sns_box a {
    background-color: white;
    border: none;
}

.sns {
    margin: 20px 30px;
    border-radius: 50%;
    border-color: white;
}

/* 풋터----------------------------------- */
.zzzz{
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    color: rgb(196, 190, 190);
    /* background-color: black; */
}
.mmmm{
    float: right;
    border-radius: 50%;
    margin: 13px 10px;
}
.vvvv{
    position: relative;
    top: 65px;
    left: 150px;
    float: right;
    color: rgb(224, 220, 220);
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 15px;
}
.aaaa{
    clear: both;
    color: rgb(196, 190, 190);
    margin-bottom: 3px;
}

footer .one{
    margin-left: 100px;
}
footer .two{
    margin-right: 80px;
}
footer .three{
    margin-left: 100px;
}
footer p{
    clear: both;
    margin-top: 20px;
    margin-bottom: 50px;
    color: rgb(196, 190, 190);
    font-size: 12px;
    margin-left: 100px;

}